node_modules
.git
.gitignore
README.md
.env
.env.development
.env.production
.env.example
.nyc_output
coverage
.nyc_output
.coverage
coverage.json
*.lcov
.DS_Store
.vscode
.node_repl_history
*.tgz
.yarn-integrity
dist
build
.cache
.parcel-cache 